/* .ant-carousel .slick-slide {
    text-align: center;
    height: 540px;
    line-height: 160px;
     background: #364d79; 
    background: #3BB1EB;
    overflow: hidden;
}

.ant-carousel .slick-slide h1 {
    color: #fff;
}

.responsive {
    width: 100%;
    height: auto;
} */